/* Welcome to Compass. In this file you should write your main styles. (or centralize your imports) Import this file using the following HTML or equivalent: <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

html { height: 100%; overflow-y: scroll; }

body { height: 100%; background-color: #ddd; line-height: 1.5; }

h1 { margin: 20px 0; font-size: 36px; }

h2 { margin: 20px 0; font-size: 32px; text-align: center; }

p { margin: 0 0 25px; }

a { color: #3399ff; }

.container { position: relative; min-width: 960px; width: 100%; overflow: hidden; }

.main { width: 960px; margin: 0 auto; padding-bottom: 30px; }

.modal-box { position: absolute; z-index: 99; top: 50%; left: 50%; width: 600px; min-height: 400px; overflow: hidden; background-color: #fff; margin: 0 0 0 -300px; -webkit-transition-property: height, -webkit-transform; -moz-transition-property: height, -moz-transform; -o-transition-property: height, -o-transform; transition-property: height, transform; -webkit-transition-duration: 1s; -moz-transition-duration: 1s; -o-transition-duration: 1s; transition-duration: 1s; }
.modal-box .dismiss { display: block; position: absolute; top: 10px; right: 10px; width: 20px; height: 20px; text-align: center; text-decoration: none; background: #3399ff; color: #fff; font-size: 20px; line-height: 20px; }

.innerlink { position: absolute; top: 50%; display: block; width: 40px; height: 40px; margin-top: -20px; background-color: #666; color: #fff; text-align: center; text-decoration: none; line-height: 40px; }
.innerlink:hover, .innerlink:focus, .innerlink:active { background-color: #999; }
.innerlink.prev { left: 0; }
.innerlink.next { right: 0; }

.modal-bg { position: absolute; z-index: 98; top: 0; left: 0; min-height: 100%; background-color: #000; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; }
