/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

@mixin clearfix {
	*zoom: 1;
	&:after {
		content:""; display:block; clear:both;
	}
}

$slidewidth: 960px;
$slideheight: floor($slidewidth / 1.775);
$linkcolor: #3399ff;
$hoverlinkcolor: #66ccff;

html {
	height: 100%;
}
body {
	height: 100%;
	background-color: #ddd;
	line-height: 1.5;
}

h1 {
	margin: 20px 0;
	font-size: 36px;
}
h2 {
	margin: 20px 0;
	font-size: 32px;
	text-align: center;
}
p {
	margin: 0 0 25px;
}
a {
	color: $linkcolor;
}

.container {
	position: relative;
	min-width: $slidewidth;
	width: 100%;
	overflow: hidden;
}
.main {
	width: $slidewidth;
	margin: 0 auto;
	padding-bottom: 30px;
}
.modal-box {
	position: absolute;
	z-index: 99;
	top: 50%;
	left: 50%;
	width: 600px;
//     height: 0;
height: 400px;
	overflow: hidden;
	background-color: #fff;
	margin: 0 0 0 -300px;
//     @include transform(skew(-90deg));
//     @include single-transition(height, .25s);
	@include transition-property(height, transform);
	@include transition-duration(1s);
	&.show {
		height: 400px;
		margin-top: -200px;
		@include transform(skew(0));
	}
	.dismiss {
		display: block;
		position: absolute;
		top: 10px;
		right: 10px;
		width: 20px;
		height: 20px;
		text-align: center;
		text-decoration: none;
		background: $linkcolor;
		color: #fff;
		font-size: 20px;
		line-height: 20px;
	}
}
.innerlink {
	position: absolute;
	top: 50%;
	display: block;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	background-color: #666;
	color: #fff;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
	&:hover, &:focus, &:active {
		background-color: #999;
	}
	&.prev {
		left: 0;
	}
	&.next {
		right: 0;
	}
}
.modal-bg {
	position: absolute;
	z-index: 98;
	top: 0;
	left: 0;
	min-height: 100%;
	background-color: #000;
	@include opacity(.5);
}

